# Ignore .env file
**/.env

# Ignore node_modules
frontend/node_modules/

env/
venv/

pycache/

**/pycache/

*.pyc

del_later/
tests/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml